*{
    margin: 0;
    padding: 0;
}
/* body{
    height: auto;
    position: absolute;
    width: 100%;
} */
nav{
    width: 100%;
    background-color:#131515;
}
header {
    display: flex;
    width: 80%;
    margin: auto;
    height: 76px;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid black; */
    position: sticky;
    top: 0;
}
.hamburger{
    display: none;
}

header ul {
    display: flex;
    justify-content: right;
}

header li {
    list-style: none;
    padding: 3px 20px;
}
header li a:hover{
   border-bottom: 3px solid blue;
}
header li a{
    color: #fff;
    font-size: 21px;
}
#head {
    width: 0px;
}
#head img {
  height: 80px;
}

.nav {
    text-decoration: none;
    font-size: 21px;
}

.navbar {
    margin-top: 0px;
}

header h2 {
    padding: 3px 92px;
    font-size: 23px;
}

/* latest Pic Section  */
#latest{
    /* display: flex; */
    /* flex-direction: column; */
    /* border: 2px solid black; */
    /* height: 619px; */
    /* position: absolute; */
    /* left: 0; */
    padding: 4px;
}

#mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 23px 120px;
    /* border: 2px solid black; */
    height: 628px;
}

#mid h1 {
    font-size: 5em;
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1px 7px white;
}

#mid::before {
    content: '';
    position: absolute;
    height: 41em;
    width: 100%;
    top: 10%;
    left: 0;
    background: url('Pic/designecologist-Pmh0UoG1vlE-unsplash.jpg') no-repeat center center/cover;
    z-index: -1;
    opacity: 0.6;
}

#mid1 {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* border: 2px solid black; */
    /* height: 612px; */
    width: 100%;
    /* left: 0; */
}
.some{
    display: flex;
    width: 100%;
}
.pic {
    /* border: 2px solid red; */
    height: 541px;
    width: 100%;
    border-radius: 15px;
    margin: 4px;
}

.h-primary{
    text-align: center; 
    font-size: 34px;
    margin: 12px;
}
#pic1 {
    background: url('/Pic/IMG_20210818_214146.jpg') no-repeat center center/cover;
    transition: all 2s ease 1s;
}
/* #pic1:hover{
    background: url('/Pic/IMG_20210818_214146.jpg') no-repeat center center/cover;
    height: 800px;
    width: 600px;
} */

#pic2 {
    background: url('/pic/IMG_20210826_000222.jpg') no-repeat center center/cover;
}

#pic3 {
    background: url('/pic/IMG_20210908_170727.jpg') no-repeat center center/cover;
}

#pic4 {
    background: url('/Pic/IMG_20210921_114528.jpg') no-repeat center center/cover;
}

#mid2{
    /* display: flex; */
    /* flex-direction: column; */
    /* border: 2px solid black; */
    /* height: 619px; */
    /* position: absolute; */
    /* left: 0; */
    padding: 4px;
}
/* Memories Section  */
.gallery {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 541px; */
    width: 100%;
    /* border-radius: 15px; */
    margin: 4px;
}
.gallery img{
    /* border: 2px solid red; */
    height: 431px;
    width: 100%;
    border-radius: 15px;
    margin: 4px;
}
.gallery p{
    /* border: 2px solid red; */
    text-align: center;
    margin: 10px 8px;
    font-weight: bold;
    font-size: 16px;
}
/* Social Media Section  */
#mid3{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid black; */
    /* height: 210px; */
    background: gainsboro;
    /* position: absolute; */
    /* left: 0; */
}
#logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 130px;
}
#mid3 img{
    height: 54px;
    width: 54px;
}

/* Contact Form  */
#contact{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* height: 497px; */
    align-items: center;
    justify-content: center;
}
#contact::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 100%;
    /* top: 0%;
    left: 0; */
    z-index: -1;
    opacity: 0.6;
    background-color: black;
}
#con input,
#con textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    margin: 6px 0px;
    /* font-size: 1.8rem; */
}

#con form{
    width: 100%;
    height:100%;
}

#con label{
    font-size: 1.3rem;

}
#con{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height:auto;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 8px 2px;
}


@media screen and (max-width:1200px) {
    .h-primary{
    font-size:23px;
    }
    header ul{
        position:fixed;
        text-align: center;
        flex-direction: column;
        padding: 24px 18px;
        width: 100%;
        top: -100%;
        left: 0%;
        background: black;
        opacity: 0.7;
        transition: all 0.4s ease;
    }
    header ul.active{
        top: 0%;
    }
    header li{
        margin: 12px 10px;
        display: block;
    }
    header li a{
        color:#fff;
    }
    .hamburger{
        display: block;
        color: #fff;
        font-size: 21px;
        z-index: 999;
    }
    #mid h1{
        font-size: 3em;
    }
    #mid p{
        font-size: 14px;
        text-align:center;
    }
    .some{
        flex-direction: column;
    }
    .gallery img{
        height: 100%;
        object-fit: cover;
    }
      #mid3 img{
        width: 20px;
        height: 20px;
    }
}
}
